.App {
  text-align: center;
}

.App-header {
  height: 40px;
  padding: 20px;
  color: white;
  margin-bottom: 2em;
}

.result-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2em;
  background: white;
  margin-left: 20%;
  margin-right: 20%;
}

.url-input {
  width: 60%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 3em 0 3em 0;
  height: 3em;
  text-align: center;
  font-size: 1em;
}

.error {
  color: red;
  font-size: 1.2em;
}

.short-url {
  color: rgb(243,98,35);
  margin: .3em;
  word-wrap: break-word
}

.urls-container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2em 2em 5em 2em;
  background: white;
  margin-top: 5em;
}

.urls-list {
  text-align: left;
}

.frequency {
  border: 1px solid black;
  background: rgb(235, 237, 239);
  margin: .3em;
  padding: 0 .2em 0 .2em;
}

.full-url {
  margin: .3em 0 1em 0;
  word-wrap: break-word
}

.footer {
  background: black;
  color: white;
  padding: .5em;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.5em;
  width: 100%;
}

.footer-link {
  color: white;
  line-height: 2em;
}


